<%- include('includes/head'); %>
<%- include('includes/nav'); %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-30 my-3">
          <h1 class="text-center">Clientes</h1>
          <p class="text-center lead">Lista de clientes.</p>

          <%- include('includes/messages'); %>
          
          <% if (contatos.length > 0) { %>
            <div class="responsive-table">
              <table class="table col-lg-25 my-3">
                
                <tr>
                  <th> Nome </th>
                  <th> Email </th>
                  <th> Telefone </th>
                  <th> Logradouro </th>
                  <th> &nbsp </th>
                </tr>
                <% contatos.forEach(contato => { %>
                <tr>
                  <td> <%= contato.nome %> </td>
                  <td> <%= contato.email %> </td>
                  <td> <%= contato.telefone %> </td>
                  <td> <%= contato.logradouro + ' ' + contato.numero %> </td>
                  <td> <a href="/cadastro/index/<%=contato._id%>">Editar</a></td>
                  <td> <a class="text-danger" href="/cadastro/delete/<%= contato._id %>" >Excluir</a></td>
                </tr>
                <% }); %>
              </table>
              
            </div>
          <% }else{ %>
            <p class="text-center lead">Não existem contatos na sua agenda.</p> 
          <% } %>

        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

<%- include('includes/footer'); %>