<%- include('includes/head'); %>
<%- include('includes/nav'); %>

   <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Contato</h1>
          <p class="text-center lead">Preencha o formulário abaixo.</p>

          <%- include('includes/messages'); %>

          <% if(contato._id) { %>
          <form action="/cadastro/edit/<%= contato._id %>" method="POST">
          <% } else { %>
          <form action="/cadastro/register" method="POST">
          <% } %>  
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
      
                <div class="form-group">
                  <label>Nome</label>
                  <input value="<%= contato.nome %>" type="text" class="form-control" name="nome">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input value="<%= contato.email %>" type="email" class="form-control" name="email">
                </div>

                <div class="form-group">
                  <label>Senha</label>
                  <input value="<%= contato.senha%>" type="password" class="form-control" name="senha">
                </div>

                <div class="form-group">
                  <label>Telefone</label>
                  <input value="<%= contato.telefone %>" type="tel" class="form-control" name="telefone" >
                </div>

                <!-- NAO ENVIA DADO -->
                <div class="form-group">
                  <table cellspacing = "10">
                  <tr>
                    <td>
                      <tr>
                        <div class="form-group">
                          <label for="uf">Estado</label>
                            <select name="estado" id="uf" class="form-control">
                              <option value="">Selecione o Estado</option>
                              <option value="AC">Acre</option> 
                              <option value="AL">Alagoas</option> 
                              <option value="Amapá">Amazonas</option> 
                              <option value="AP">Amapá</option> 
                              <option value="BA">Bahia</option> 
                              <option value="CE">Ceará</option> 
                              <option value="DF">Distrito Federal</option> 
                              <option value="ES">Espírito Santo</option> 
                              <option value="GO">Goiás</option> 
                              <option value="MA">Maranhão</option> 
                              <option value="MT">Mato Grosso</option> 
                              <option value="MS">Mato Grosso do Sul</option> 
                              <option value="MG">Minas Gerais</option> 
                              <option value="PA">Pará</option> 
                              <option value="PB">Paraíba</option> 
                              <option value="PR">Paraná</option> 
                              <option value="PE">Pernambuco</option> 
                              <option value="PI">Piauí</option> 
                              <option value="RJ">Rio de Janeiro</option> 
                              <option value="RM">Rio Grande do Norte</option> 
                              <option value="RO">Rondônia</option> 
                              <option value="RS">Rio Grande do Sul</option> 
                              <option value="RR">Roraima</option> 
                              <option value="SC">Santa Catarina</option> 
                              <option value="SE">Sergipe</option> 
                              <option value="SP">São Paulo</option> 
                              <option value="TO">Tocantins</option>
                          </select>
                        </div>
                      </tr>
                    </td>
                  </tr>
                    <tr>
                      <td><label for="cidade">Cidade</label></td>
                      <td><label for="cep">CEP</label></td>
                    </tr>
                    <tr>     
                      <td><input value="<%= contato.cidade %>" id="cidade" type="text" class="form-control" name="cidade"></td>
                      <td><input value="<%= contato.cep %>" id="cep" type="text" class="form-control" name="cep"></td>
                    </tr>
                    <tr>
                      <td><label for="logradouro">Logradouro</label></td>
                      <td><label for="numero">Número</label></td>
                    </tr>
                    <tr>
                      <td><input value="<%= contato.logradouro %>" id="logradouro" display="flex" type="text" class="form-control" name="logradouro"></td>
                      <td><input value="<%= contato.numero %>" id="numero" type="text" class="form-control" name="numero" size="2" maxlength="6"></td>
                    </tr>
                </div>
              </table>
  
              <button type="submit" class="btn btn-primary">Salvar</button>     
            </form>
          </div>
        <div class="col-lg-2"></div>
      </div>
    </div> 

<%- include('includes/footer'); %>