<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="display-1 text-center">CupCake</h1>
            <p class="text-center lead">Você não pode comprar felicidade, mas pode comprar CUPCAKE que é quase a mesma coisa.</p>

            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">Um erro quaquer</div>
                </div>
            </div>

            

        </div>
        
        <div class="col-lg-2"></div>
    </div>
    <!--div class="product">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <img src="<%= ../../../../frontend/assets/img/CoopCake_Choco.png
        %>">  
        <h3></h3>
        <p><strong>Preço:</strong></p>
        
    </div-->
</div>

<%- include('includes/footer'); %>